*{
    margin: 0%;
    padding: 0%;
}
.contenedor{
    padding: 10px;
}
@media all and (min-width: 768px){
.contenedor{
    width: 750px;
    margin: 0 auto;
}    
.primero{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
}
.segundo{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 204px);
}
}
a{
    color: blue;
    text-decoration: none;}
    @media all and (max-width:1200px){
        .contenedor{width: 1150px;}
    }