*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: blue;
}
.imagem{
    float: right;
    max-width: 100px;
    margin: auto;
}
p{
    padding: 10px 10px 10px 0px;
}
h1{
    font-size: 1.5em;
    margin-top:10px;
}
h3{
    font-size: 1.0em;
    margin: 10px 10px 10px 0px;
}

@media all and (min-width:768px){
    .contenedor{
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .imagem{
        float: right;
        max-width: 130px;
       
    }
    .dudas{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin: 10px;
        padding: 10px;
        font-size: 0.8em;
        box-sizing: border-box;
    }
    .contenido{
        display: inline-block;
        vertical-align: top;
        max-width: 70%;
        margin: 10px;
        padding: 10px;
    }
    .column{
        display: flex;
        justify-content: space-around;
    }
    .parag{
        display: inline-block;
        box-sizing: border-box;
        width: 23%;
        padding: 10px 10px 0px 0px;  
        
    }
   

}


