*{

}
@charset="UTF-8"

#hh1{
    background-color: aquamarine;
    color: red;
}

h2{
    text-align: center;
    color: red;
    background-color: bisque;
}
p{
    color: aquamarine;
    background-color: rgb(31, 24, 165);
    font-style: normal;
}
.paragrafo{
    background-color: beige;
    color: aqua;
}
